{% extends 'tracker/base.html' %} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'tracker/signup.css' %}" />

<div class="signup-card">
  <h2>Sign Up</h2>
  <form method="post">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Username" required />
    <input type="email" name="email" placeholder="Email" required />
    <input type="password" name="password" placeholder="Password" required />
    <button type="submit">Create Account</button>
  </form>

  {% for message in messages %}
  <p class="message">{{ message }}</p>
  {% endfor %}
</div>
{% endblock %}
